
/* 列表里的文章页 */
.article{margin:11px 15px 0; }
.article h2{font-size:16px; text-align:center; height:40px;}
.article p{text-align:left; margin-top:10px; font-size:14px; font-family:"宋体";color:#000; text-indent:2em;}

